nav.navbar.navbar-expand-lg.navbar-light
		a.navbar-brand(href='#') Hi
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarColor01.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item(routerLinkActive='active')
					a.nav-link(routerLink='/login') Login
				li.nav-item(routerLinkActive='active')
					a.nav-link(routerLink='/register') Registration
				li.nav-item(routerLinkActive='active')
					a.nav-link(routerLink='/users') List users




